<!--<div class="card">
    <ng-content select=".texto"></ng-content> #selecao por classe
    <ng-content select="button"></ng-content> #selecao por tag
    <ng-content select="[attrTeste]"></ng-content> #selecao por atributo
    <ng-content select="[attrTeste]"></ng-content> #selecao por atributo
</div>-->

<!--<div class="card">
    <ng-content select="[card-header]"></ng-content>
    <ng-content select="[card-content]"></ng-content>
    <ng-content select="[card-footer]"></ng-content>
</div>-->

<div class="card">
    <div class="card__header">
        <ng-content select="[card-header]"></ng-content>
    </div>
    <div class="card__content">
        <ng-content select="[card-content]"></ng-content>
    </div>
</div>





