<div class="container">
  <div class="item">
    <app-card>
      <div card-header class="card__header">
        Imagem de icone
      </div>
      <div card-content class="card__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti soluta impedit asperiores debitis quibusdam? Animi minus enim assumenda repellat quae reiciendis placeat. Aspernatur veniam ad porro facere cupiditate cum voluptatum?</p>
      </div>
    </app-card>
  </div>
  <div class="item">
    <app-card>
      <div class="card__header card__header--direct-coluna" card-header>
        <h1>fulano da silva</h1>
        <h3>dev fullstack</h3>
      </div>
      <div class="card__content" card-content>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam minus facere pariatur, sapiente, expedita maxime ex, eveniet unde adipisci sint omnis? Quas quis, illum consequatur reprehenderit itaque nesciunt nihil soluta?</p>
      </div>
    </app-card>
  </div>
</div>
